*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    line-height: 1.6;
    background-color: #FFE45E;
}

header {
    background-color: darkgray;
    color: white;
    padding: 20px 0;
    text-align: center;

}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
background-color: #575757;
}

footer {
    background-color: red;
    color: whitesmoke;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer p {
    margin: 0;
    font-size: 14px;
}

table {
    margin: 0 auto;
    margin-top: 5px;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

table th, table td {
    border: 3px #F56416;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #5AA9E6;
}

button {
    padding: 10px 20px;
    background-color: blueviolet;
    border: none;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: burlywood;
}

.button-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button-link:hover{
    background-color: burlywood;
}

.action-button{
    width: 100%;
    text-align: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin-top: 20px;
}

.action-button a{
    margin: 0 10px;
}
