<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}">DISCUS</title>
</head>

<body>
    <a href="/create">Admit a Pet</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pet : ${pets}">
                <!-- <td th:text="${pet.name}"></td> -->
                <td th:text="${pet.name}"></td>
                <td th:text="${pet.age}"></td>
                <td th:text="${pet.petType}"></td>
                <td><a href="#" th:href="@{/details/{id}(id=${pet.id})}">Details</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>